#gameBackground
  #closeGameArea
#gameArea
  table(style='margin-top : 10px;direction:ltr;position: relative;margin: 0 auto;')
    tr(style='height:12px;display:flex;')
      td(style='width:11px;background-image: url(images/left_top_conner.gif);')
      td(style='width: 100%;background-image: url(images/top_bg.gif);')
      td(style='width:7px;background-image: url(images/right_top_conner.gif);')
    tr(style='height:30px;display:flex;')
      td(style='width:11px;background-image: url(images/left_bg.gif);')
      td(style='width: 100%;background-image: url(images/bg.gif); align:center')
        table(style="width: 100%;height: 100%;")
          tr
            td(align='center' width:'30%')
              img#m1(src='images/number0.gif')
              img#m0(src='images/number0.gif')
            td(align='center' width:'30%')
              img#t4(src='images/number0.gif')
              img#t3(src='images/number0.gif')
              img#t2(src='images/number0.gif')
              img#t1(src='images/number0.gif')
              img#t0(src='images/number0.gif')
      td(style='width:7px;background-image: url(images/right_bg.gif);')
    tr(style='height:8px;display:flex;')
      td(style='width:11px;background-image: url(images/middle_left_conner.gif);')
      td(style='width: 100%;background-image: url(images/middle_bg.gif);')
      td(style='width:7px;background-image: url(images/middle_right_conner.gif);')
    tr(style='display:flex;')
      td(style='width:11px;background-image: url(images/left_bg.gif);height:300px;')
      td(style='width: 100%;background-image: url(images/bg.gif);text-align=center;height:300px;')
        #MainBoard(style='direction: ltr;')
      td(style='width:7px;background-image: url(images/right_bg.gif);height:300px;')
    tr(style='height:8px;display:flex;')
      td(style='width:11px;background-image: url(images/left_bottom_conner.gif);')
      td(style='width: 100%;background-image: url(images/bottom_bg.gif);')
      td(style='width:7px;background-image: url(images/right_bottom_conner.gif);')
  .buttonlink(onclick='newGame();')
    |התחל
    
