head
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        title #{title}
        meta(name="robots" content="index, follow")
        meta(name="description" content=meta.description)
        meta(name="keywords" content=meta.keywords)
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="icon",href="/favicon.ico",type="image/ico")
        link(href='/radio_files/radio.min.css', rel='stylesheet')
        script(data-ad-client="ca-pub-7771302697745163" ,async ,src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
        script(type="text/javascript").
                //- var _gaq = _gaq || [];
                //- _gaq.push(['_setAccount', 'UA-21583061-2']);
                //- _gaq.push(['_gat._anonymizeIp']);
                //- _gaq.push(['_trackPageview']);
                //- (function () {
                //-         var ga = document.createElement('script');
                //-         ga.type = 'text/javascript';
                //-         ga.async = true;
                //-         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'https://www') + '.google-analytics.com/ga.js';
                //-         var s = document.getElementsByTagName('script')[0];
                //-         s.parentNode.insertBefore(ga, s)
                //- })();
                (adsbygoogle = window.adsbygoogle || []).push({
                        google_ad_client: "ca-pub-7771302697745163",
                        enable_page_level_ads: true
                });
        script(type="text/javascript").
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-KTT85KR');
