div.playerZone
    div.player
        div.holder
        //- div(id="player"
            data-ads-skip="10"
            data-youtube-vid="nLMTNOdR5vI"
            data-youtube-url="https://yapp.onelink.me/jsmr?pid=ZM8N&c=radio"
            data-vast="http://deliveryengine.adio.adswizz.com/www/delivery/swfIndex.php?zoneId=653&companionZones=655&protocolVersion=2.0&reqType=AdsSetup"
            data-default-images="[1.png|http://adio.co.il],[2.png],[3.png],[4.png],[5.png],[6.png],[7.png]"
            data-default-url="http://adio.co.il")
        div#player    
            p  בחרו תחנה להאזנה באמצעות לחיצה על "רדיו" משמאל לכל קישור
    audio#player(style='display:none' ,controls='')
        source(src='' type='audio/aac')
        p Your browser does not support the audio element.
    //- div.below_player#content
        h3 #{station.linkText}
        |#{station.description }
        .row
            hr
        //- belowPlayer
        //- ins.adsbygoogle(style='display:block;background:#f6f6fc;text-align:center;', data-ad-client='ca-pub-7771302697745163', data-ad-slot='4288935311', data-ad-format='auto')
        //- script(type='text/javascript').
            (adsbygoogle = window.adsbygoogle || []).push({});
        .row
        //- a.tamarDesignLink(href='http://tamardprojects.wixsite.com/website', target="_blank")
            img.tamarDesignImage(src='/radio_files/tamar_design.jpg' style="width:100%;" title="עיצוב לדפוס ולאינטרנט" alt="עיצוב לדפוס ולאינטרנט") 
        a.yappLink(href='https://yapp.onelink.me/jsmr?pid=ZM8N&c=radio&af_adset=home-1', target="_blank")
            img.yappImage(src='/radio_files/yapp_2.jpeg' style="width:100%;" title="יאפפ - שוק יד 2 דיגיטאלי" alt="יאפפ - שוק יד 2 דיגיטאלי") 
    //- #header_games_zone.header_flash_news.hide_in_mobile משחקים ברדיו עם - #{station.linkText }

    //- .below_player#yapp
        .center
            a.tamarDesignLink(href='http://tamardprojects.wixsite.com/website', target="_blank")
                img.tamarDesignImage(src='/radio_files/tamar_design.jpg' style="width:100%;" title="עיצוב לדפוס ולאינטרנט" alt="עיצוב לדפוס ולאינטרנט") 
            a.yappLink(href='https://yapp.onelink.me/jsmr?pid=ZM8N&c=radio&af_adset=home-1', target="_blank")
                img.yappImage(src='/radio_files/yapp.jpg' style="width:100%;" title="יאפפ - שוק יד 2 דיגיטאלי" alt="יאפפ - שוק יד 2 דיגיטאלי") 
            //- script(type='text/javascript').
                amzn_assoc_ad_type = "banner";
                amzn_assoc_marketplace = "amazon";
                amzn_assoc_region = "US";
                amzn_assoc_placement = "assoc_banner_placement_default";
                amzn_assoc_campaigns = "musicandentertainmentrot";
                amzn_assoc_banner_type = "rotating";
                amzn_assoc_p = "12";
                amzn_assoc_width = "300";
                amzn_assoc_height = "250";
                amzn_assoc_tracking_id = "yapp03-20";
                amzn_assoc_linkid = "9ac5c07190394ba70637a5915982f524";
            //- script(src='//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1')
