doctype html
html(xmlns="http://www.w3.org/1999/xhtml",dir="ltr",lang="he",xml:lang="he")
  include header
  body
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-KTT85KR', height='0', width='0', style='display:none;visibility:hidden')
    div.main_wrapper
        div(class="Top" role="banner")
            include topMenu
            div.header
                div.mainTitle
                    h1="הרדיו של כולם"
                    h2(style="margin-bottom: 15px;")="RADIOFM.CO.IL"
                    p="תחנות רדיו אונליין"
                div.clear
            h3.header_flash_news#header_flash_news(alt=station.linkText title=station.linkText) מנגן עכשיו: #{station.linkText }
                img(src="/radio_files/radio.png" alt="רדיו" title="רדיו" style="vertical-align: middle;height: 30px;width: 30px;padding-right: 11px;")
            // Responsive
            //- ins.adsbygoogle(style='display:block;background:#f6f6fc;text-align:center;', data-ad-client='ca-pub-7771302697745163', data-ad-slot='2432185906', data-ad-format='auto')
            script(type='text/javascript').
                //- (adsbygoogle = window.adsbygoogle || []).push({});
                (function() {
                    var cx = 'partner-pub-7771302697745163:4835822112';
                    var gcse = document.createElement('script');
                    gcse.type = 'text/javascript';
                    gcse.async = true;
                    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(gcse, s);
                })();
            gcse:search
        //- a.coronaLink(href='//www.tavsagol.shop/?ref=radio' style="width: 100%;text-align: center;display:block;" target="_blank")
            img.coronaImage(src='/radio_files/UV20_lahav_banner.jpg' style="width: 80%;min-width: 330px;max-width: 1200px" title="אפליקציה לעסקים לתיעוד לקוחות" alt="אפליקציה לעסקים לתיעוד לקוחות") 
        div.wrapper
            div.stageTop1
                div.stationDescription
                    |#{station.description }
                div.mainContentTop
                    div.mainContentInner
                        each category in radioElements
                            div.all_catagorys
                                div.header_of_catagory
                                    h4 #{category.name}
                                ul(style="width:100%;")
                                    -var stations = Object.keys(category.stations).length
                                    -var adPosition = Math.floor(Math.random() * stations)
                                    -var index = -1
                                    each station in category.stations
                                        -index++
                                        -var liStyle = (adPosition == index && 0 ? 'height:290px' : '')
                                        -var stationHref = station.id
                                        -if (station.secure){
                                        -        stationHref = 'https://www.radiofm.co.il/' + station.id
                                        -    } else {
                                        -        stationHref = 'http://www.radiofm.co.il/' + station.id}
                                        li(style=liStyle title=station.linkText alt=station.linkText)
                                            div.stationContainer
                                                a(class="listenTo" id=station.id href=stationHref style="color: rgb(0, 153, 255); background-color: rgb(249, 249, 249);")
                                                    img(src='/radio_files/playstation-'+station.id title=station.linkText alt=station.linkText) 
                                                    |#{station.linkText}
                                .categoryAdWrapper
                                    .categoryAd
                                        ins.adsbygoogle(
                                            style="display:block;max-height:255px;",
                                            data-ad-layout="in-article",
                                            data-ad-format="fluid",
                                            data-ad-client="ca-pub-7771302697745163",
                                            data-ad-slot="6927407950")
                                        script(type='text/javascript').
                                            (adsbygoogle = window.adsbygoogle || []).push({});
                        .playerSpacer(style='height:150px;')
                    include playerZone
                    #gamesImage.hide_in_mobile
                    #gamesZone.hide_in_mobile
                        include gamesZone


    script(type="text/javascript").
        var _radioStation = '!{station.link}';
    each jsSrc in jsSrcs
        script(type='text/javascript' src=jsSrc)
    script(type="text/javascript").
        var newGame;
        if(Math.floor((Math.random() * 2)) === 0){
            newGame = new fiveinarow(window,document);
            document.getElementById("gamesImage").style.background= "url('/images/Games/9.png')";
        }else {
            newGame = new mine(window,document);
            document.getElementById("gamesImage").style.background= "url('/images/Games/1.jpg')";
        }
        document.getElementById("gamesImage").style.backgroundSize= "cover";

