doctype html
html(xmlns="http://www.w3.org/1999/xhtml",dir="ltr",lang="he",xml:lang="he")
  include header
  body
    include topMenu
    div.header
        div.mainTitle
        h1=הרדיו של כולם
        h2(style="margin-bottom: 15px;")RADIO.CO.IL
        p=תחנות רדיו אונליין
    h3=meta.keywords
    div(onclick="this.style.display='none'").loader#loader
    div.search#search
        input(type="text",value="חיפוש ...",title="חיפוש ...",onfocus="this.select();if(this.value==this.title)this.value=''",onblur="if(this.value.length==0)this.value=this.title",onkeydown="if(event&&event.keyCode==13&&this.value!=this.title&&this.value.length>0)window.newWindow('googleSearch','googleSearch','https://www.google.co.il/cse?cx=!partner-pub-0246350975698027:4638864316&ie=utf-8&q='+this.value,false,true,null,null,null,null)")
    div.background#background
        img.backgroundImg#backgroundImg
    - for (var row = 1; row <= 3; row++)
        div(class='iconWrapper_#{row}')
            div(class='iconMoveHandle') 
    - for (var row = 1; row <= 3; row++)
        div(class='iconWrapper_#{row}')
            div(class='iconMoveHandle')
    //- audio(autoplay controls )
    //-     source(src="http://90.cdnwz.net/90fm",type="audio/ogg")
