div#menuContainer
  div.navAndleftIcons
    nav
      ul
        li
          a(class="thisCategory topMenuLink" href="https://www.radiofm.co.il?ref=radioManu") רדיו
        li
          a(class="topMenuLink" rel="nofollow" target="_blank" href="http://calendar.2net.co.il/?ref=radioManu") לוח שנה
        li
          a(class="topMenuLink" rel="nofollow" target="_blank" href="http://2net.co.il/?ref=radioManu") 2net
        li
          a(class="topMenuLink" rel="nofollow" target="_blank" href="http://www.newsnow.co.il?ref=radioManu") חדשות עכשיו
        li
          a(class="topMenuLink" rel="nofollow" target="_blank" href="https://www.beatman.co.il?ref=radioManu") פיתוח אפליקציות
        //- li
          a(class="topMenuLink" rel="nofollow" target="_blank" href="https://www.tavsagol.shop/?ref=radioManu") התו הסגול
      div.clear
    div#leftIcons
<ul>