@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
.main_wrapper,a,body,div,form,h1,h2,h3,h4,img,input,li,p,span,table,td,th,tr,ul {
    margin: 0;
    padding: 0
}

a,body {
    color: #000
}

a,a:focus {
    outline: 0
}

#leftIcons,#menuContainer ul li a {
    line-height: 28px;
    height: 28px
}

#leftIcons a.small,body {
    font-size: 12px
}

#linksInNewPage input,#menuContainer nav,#menuContainer ul li {
    float: right
}

.clear,.clearFix {
    clear: both
}

@font-face {
    font-family: almoni-dl;
    font-weight: 700;
    font-style: normal;
    src: url(./fonts/almoni-dl-aaa-700.eot);
    src: url(./fonts/almoni-dl-aaa-700.eot#iefix) format("embedded-opentype"),url(./fonts/almoni-dl-aaa-700.woff) format("woff"),url(./fonts/almoni-dl-aaa-700.ttf) format("truetype")
}

html {
    direction: ltr
}

body {
    background-color: #f6f6fc;
    font-family: Arial,sans-serif;
    direction: rtl
}

embed,fieldset,img {
    border: none
}

a {
    text-decoration: none
}

ul {
    list-style-type: none
}

img {
    border: 0
}

.clearFix {
    height: 0;
    visibility: hidden
}

/* 
a:focus {
    background: #555;
    color: #ff4500!important
} 
*/

.SkipToMainContent a {
    position: absolute;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden
}

.SkipToMainContent a:focus {
    font-weight: 700;
    float: right;
    padding: 6px 16px;
    position: static;
    width: auto;
    height: auto
}

#leftIcons,#linksInNewPage {
    float: left
}

#siteMenu {
    position: absolute;
    z-index: 123;
    top: 5px;
    right: 10px;
    color: #fff
}

.header,.logo img {
    position: relative
}

#menuContainer {
    background: #c02942;
    height: 28px;
    box-sizing: border-box
}

#menuContainer .navAndleftIcons {
    /* width: 970px; */
    margin: 0 auto
}

#menuContainer ul li a {
    color: #fff;
    display: block;
    margin: 0 4px;
    padding: 0 8px
}

#menuContainer ul li a.thisCategory {
    margin-right: 0;
    background-color: #542437
}

#menuContainer ul li a:hover {
    text-decoration: underline
}

.ie8 #leftIcons {
    padding-top: 4px
}

#leftIcons a {
    display: inline-block;
    padding: 0 4px;
    min-width: 20px;
    text-align: center;
    color: #fff;
    line-height: 28px
}

#leftIcons a.med {
    font-size: 15px
}

#leftIcons a.big {
    font-size: 17px
}

#leftIcons a:hover {
    background-color: #000
}

#linksInNewPage label {
    cursor: pointer
}

input[type=checkbox] {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 8px 4px;
    cursor: pointer
}

.Top {
    background-color: #542437;
    color: #fff
}

.header {
    /* width: 970px; */
    margin: 0 auto
}

.logo,.mainTitle {
    width: 100%;
    float: right;
    text-align: center
}

.mainTitle {
    font-family: almoni-dl,arial;
    margin: 10px auto
}

.logo img {
    padding: 14px 0 2px;
    z-index: 10;
    margin-left: 10px
}

.logo h1,.mainTitle h1 {
    margin-top: -8px;
    font-size: 60px;
    line-height: 60px;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0,0,0,.4),0 0 30px rgba(0,0,0,.075)
}

.mainTitle p {
    margin: -8px 0 6px;
    line-height: 22px;
    font-size: 22px;
    font-weight: 700
}

.wrapper {
    width: 90%;
    margin: 20px auto
}

.stageTop {
    width: 100%;
    list-style: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;    
}

.mainContentTop {
    width: 100%;
    /* margin-top: 30px */

}

.all_catagorys {
    float: right;
    margin-left: 1%;
    /* width: 32% */
    min-width: 260px;
    width: 24%;
}

.all_catagorys img {
    width: 23px;
    height: 23px;
    margin: 2px 6px;
    float: right
}

.mainContentInner {
    /* width: 56%;
    float: right;
    padding: 0;
    margin: 0 */
    /* width: 100%; */
    column-width: 260px;
    column-gap: 5px;
    padding: 5px;  
}

.mainContentInner .header_of_catagory {
    background-color: #555;
    height: 26px;
    text-align: center;
    color: #fff;
    width: calc(100% + 2px);
}

.mainContentInner .header_of_catagory h2,.mainContentInner .header_of_catagory h3,.mainContentInner .header_of_catagory h4 {
    font-size: 15px;
    line-height: 26px;
    font-weight: 700
}

.mainContentInner ul {
    margin-bottom: 26px;
    border: 1px solid #555;
    color: #fff;
    float: right;
    background-color: #fff
}

.mainContentInner li {
    width: 100%;
    height: 26px;
    float: right;
    border-bottom: 1px solid #e9e9e9
}

.mainContentInner li.player {
    height: 90px;
    width: 96%;
    padding: 4px
}

.mainContentInner a {
    width: 100%;
    line-height: 26px;
    display: block
}

.mainContentInner a.BoldItemCatagory {
    font-weight: 700
}

.mainContentInner a:hover {
    background-color: #ffefcd
}

.mainContentInner div.stationContainer {
    width: 100%
}

a.otherStations {
    display: none
}

.mainCreditsLeft ul,.mainCreditsRight ul {
    display: inline
}

a.listenTo {
    font-weight: 700;
    background: #f9f9f9;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

a.listenTo:hover {
    background-color: #000;
    color: #fff
}

a.listenTo:active {
    background-color: red;
    color: orange
}

.mainContentInner div.clearFix {
    width: 100%;
    margin: 0;
    float: none;
    clear: both;
    height: 0
}

.playerZone {
    /* width: 44%;
    float: left */
width: 100%;
}

.playerSpacer {
    height: 150px;
    float: right;
    margin-left: 1%;
    min-width: 260px;
    width: 24%;
}
/* .playerZone .header_flash_news { */
.header_flash_news {
    width: 100%;
    background-color: #c02942;
    text-align: center;
    font-size: 19px;
    color: #fff;
    height: 50px;
    line-height: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;    
}

.playerZone .player {
    /* width: 100%;
    vertical-align: middle;
    float: right; */
    background-color: #000;
    position: fixed;
    bottom: 55px;
    height: 100px; 
    z-index: 999;
    left: 20px;   
}

.playerZone p {
    color: #fff;
    line-height: 24px;
    font-size: 17px;
    padding: 5% 20%;
    text-align: center
}

.playerZone .below_player {
    text-align: center;
    direction: ltr;
    float: right;
    width: 100%;
    margin-top: 26px
}

.playerZone #content {
    margin-bottom: 26px;
    direction: rtl
}

.playerZone .below_player h2,.playerZone .below_player h3 {
    background-color: #555;
    color: #fff;
    height: 26px;
    text-align: center;
    font-size: 15px;
    line-height: 26px;
    font-weight: 700;
    margin-bottom: 6px
}

.playerZone .below_player hr {
    border: 0;
    height: 1px;
    background: #e1e1e1
}

.footer {
    width: 100%;
    margin: 0 auto 14px
}

.mainCredits {
    height: 35px;
    background-color: #a9aab0;
    width: 100%
}

.mainCreditsRight {
    float: right;
    color: #fffffd;
    width: 215px;
    margin-right: 10px
}

.mainCreditsRight li {
    float: right;
    margin-left: 10px;
    line-height: 35px
}

.mainCreditsRight ul a {
    color: #fffffe
}

.mainCreditsRight ul a:hover {
    color: #000;
    text-decoration: underline
}

.mainCreditsLeft {
    float: left;
    color: #fffffc;
    width: 639px
}

.mainCreditsLeft img {
    padding-top: 5px
}

.mainCreditsLeft li {
    float: left;
    margin-left: 10px;
    line-height: 35px
}

.mainCreditsLeft li.CreditBeatman {
    line-height: 35px
}

.mainCreditsLeft ul a {
    color: #fffffe
}

.mainCreditsLeft ul a:hover {
    color: #000;
    text-decoration: underline
}

audio {
    width: 100%
}


/* @media screen and (max-width: 1600px) {
    .all_catagorys{
        min-width: 260px;
        width: 47%;
        width: 24%;
    }
} */
/* @media screen and (max-width: 1100px) {
    .all_catagorys{
        min-width: 260px;
        width: 98%;
    }
} */
@media screen and (max-width: 600px) {
    #leftIcons,.SkipToMainContent,.hide_in_mobile {
        display:none !important
    }

    #infoContent,#menuContainer .navAndleftIcons,.header,.mainContentInner,.mainCredits,.main_wrapper,.playerZone {
        width: 100%
    }

    #menuContainer li {
        float: none
    }

    #menuContainer li a {
        margin: 0!important
    }

    .logo h1,.mainTitle h1 {
        font-size: 10vw;
        line-height: 12vw
    }

    .mainTitle p {
        font-size: 4vw
    }

    .selectedCategories select {
        margin: 0 2%
    }

    .wrapper {
        width: 91%
    }

    .all_catagorys,.all_catagorys.double,.all_catagorys.infoBox,.leftBox,.show_more {
        width: 100%;
        max-width: none;
    }

    .playerZone .player {
        margin-bottom: 20px
    }

    .mainContentInner .header_of_catagory {
        height: 34px
    }

    .mainContentInner .header_of_catagory h2,.mainContentInner .header_of_catagory h3,.mainContentInner .header_of_catagory h4 {
        font-size: 26px;
        line-height: 34px
    }

    .all_catagorys ul li {
        height: 34px;
        border-bottom: 1px solid #ececec
    }

    .all_catagorys ul li a {
        font-size: 20px;
        line-height: 34px
    }

    .show_more {
        margin-right: 0
    }

    #scrollToTop {
        top: initial!important;
        bottom: 15px!important;
        right: 15px!important
    }

    .all_catagorys ul li a img {
        margin: 5px 6px
    }
}

#player {
    position: relative;
    overflow: hidden
}

.player-vast #vastPlayer {
    width: 100%;
    height: 300px
}

.player-vast .player-ads-link,.player-vast .vast-blocker {
    background: 0 0
}

.player-vast .player-ads-link {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0
}

.player-video {
    height: 0;
    padding-bottom: 56.25%
}

.player-video #ytPlayer {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1
}

.player-video .player-overlay {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: 0 0;
    border: none;
    outline: 0
}

.player-video .player-overlay.show {
    display: block
}

.player-skip-button {
    width: 120px;
    height: 46px;
    display: block;
    font: normal 14px/14px arial,sans-serif;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 2px #000;
    background-color: #000;
    background-color: rgba(0,0,0,.6);
    padding: 0;
    margin: 0;
    border: none;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    bottom: 15%;
    right: 0;
    z-index: 3;
    opacity: 0;
    transition: background-color .25s;
    cursor: default
}

.player-skip-button.show {
    opacity: 1
}

.player-skip-button.enabled {
    cursor: pointer;
    background-color: rgba(0,0,0,.8);
    font-size: 18px;
    line-height: 46px
}

.player-skip-button.enabled:hover {
    background-color: #000
}

#amznBanners_assoc_banner_placement_default_0_img {
    margin: 0 auto
}
.categoryAd{
    display: block;
    max-height: 255px;
    overflow: hidden;
    width: 255px;
    margin: 0 auto;
    padding-top: 5px;
}
.categoryAdWrapper{
    background:#f6f6fc;
    display: inline-block;
    width: 100%;
    margin-bottom: 25px;
}
.buttonlink{
	display:block;
	border-style:solid;
	border-color:#bbb #888 #666 #aaa;
	border-width:3px 4px 4px 3px;
	background:#ccc;
	text-decoration:none;
    text-align: center;
    height: 25px;
    width: 200px;
    margin: 20px auto;
    background-color: #c02942;
    color: #fff;
    font-size: 20px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    padding: 0px;
    line-height: 26px;
}
.buttonlink:hover{
	border-color: #666 #aaa #bbb #888;
	border-width:4px 3px 3px 4px;
	color:#555;
}
#header_games_zone{
    display: inline-block;
    margin-bottom: 26px;
}
.row{
    height: 15px;
}

#gamesZone{
    display: none;
}
#gamesImage{
    position: fixed;
    right: 5px;
    bottom: 5px;
    height: 100px;
    width: 100px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    cursor: pointer;
}
#gameBackground {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    font-family: "Roboto", sans-serif;
}
#closeGameArea{
    background: url(../images/close.png) no-repeat center;
    background-size: cover;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 35px;
    top: 35px;
    cursor: pointer;
}
#gameArea{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1018px;
    border-radius: 4px;
    overflow: hidden;
}
