﻿@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
/*==================== CUSTOM FONTS ====================*/
@font-face{
	font-family:'almoni-dl';
	font-weight:700; /*(bold)*/
	font-style: normal;
	src: url('./fonts/almoni-dl-aaa-700.eot'); 
	src: url('./fonts/almoni-dl-aaa-700.eot#iefix') format('embedded-opentype'), 
		url('./fonts/almoni-dl-aaa-700.woff') format('woff'), 
		url('./fonts/almoni-dl-aaa-700.ttf') format('truetype');
}

/*==================== GLOBAL STYLES ====================*/
html {direction:ltr;}
body  { background-color: #f6f6fc; margin:0; padding:0;font-family: Arial, sans-serif; font-size:12px; color:#000; direction:rtl;}
h1, h2, h3, h4, p, a, div, img, table, tr, th, td, ul, li, form, span, input { margin:0px; padding:0px;}
fieldset,img, embed {border:none;}

/*==================== GLOBAL STYLS ====================*/
.main_wrapper {margin:0px; padding:0px;}
.clearFix { height:0px; visibility:hidden; clear:both;}
a { text-decoration:none; color:#000; outline:none;}
ul { list-style-type:none;}
img { border:0px;}
.clearFix { height:0px; visibility:hidden; clear:both;}
.clear { clear: both; }

/*==================== GLOBAL TAB FOCUS ====================*/
a:focus { background:#555; color: orangered !important; outline: none; }
.SkipToMainContent a { position:absolute; /*left:-10000px;*/ top:auto; width:1px; height:1px; overflow:hidden;} 
.SkipToMainContent a:focus { font-weight:bold; float: right; padding:6px 16px; position:static; width:auto; height:auto; } 

/*==================== siteMenu ====================*/
#siteMenu { position: absolute; z-index: 123; top: 5px; right: 10px; color:#fff; }
#menuContainer { background: #c02942; height: 28px; box-sizing: border-box; }
#menuContainer .navAndleftIcons { width: 970px; margin: 0 auto; }
#menuContainer nav { float: right; }
#menuContainer ul li { float: right; }
#menuContainer ul li a { color:#fff; display: block; height: 28px; line-height: 28px; margin:0 4px; padding: 0 8px; }
#menuContainer ul li a.thisCategory { margin-right:0; background-color: #542437; }
#menuContainer ul li a:hover { text-decoration: underline; }

#leftIcons {/* position: absolute; z-index: 123; height: 44px; padding-top: 10px; left: 10px;*/ float: left; height: 28px; line-height: 28px; }
.ie8 #leftIcons { padding-top: 4px;  }
#leftIcons a { display:inline-block; padding:0 4px; min-width:20px; text-align:center; color:#fff; line-height: 28px;}
#leftIcons a.small { font-size:12px;}
#leftIcons a.med { font-size:15px;}
#leftIcons a.big {font-size:17px;}
#leftIcons a:hover { background-color:#000; }
#linksInNewPage { float: left; } 
#linksInNewPage label { cursor: pointer; }
#linksInNewPage input { float: right; }
input[type="checkbox"] { display:inline-block; width:14px;height:14px;margin:8px 4px;cursor:pointer; }



/*==================== TOP + HEADER ====================*/
.Top { background-color: #542437; color: #fff; }
.header { width:970px; margin: 0 auto; position: relative; }

/*===== LOGO =====*/
.logo { float: right; width: 100%; text-align:center; }
.logo img { padding: 14px 0 2px; position: relative; z-index: 10; }

/*===== TITLES =====*/
.mainTitle { font-family: 'almoni-dl', arial; float: right; width: 100%; text-align:center; margin: 10px auto;}

.logo img { margin-left: 10px; }
.mainTitle h1, .logo h1 { margin-top: -8px; font-size:60px; line-height: 60px; color: #fff; text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);}
.mainTitle p { margin: -8px 0 6px; line-height: 22px; font-size: 22px; font-weight: 700;}



/*==================== WRAPPER & STAGE ====================*/
.wrapper { width:90%; margin:20px auto; }
.stageTop { width:100%;}


/*======================================== CONTENT TOP ========================================*/
.mainContentTop { width:100%; margin-top: 30px; }


.all_catagorys { float:right; width:32%; margin-left: 1%; }
.all_catagorys img {width:23px; height:23px; margin: 2px 6px; float: right;}



.mainContentInner { width:56%; float:right; padding:0px; margin: 0 0;}
.mainContentInner .header_of_catagory { background-color:#555555; height:26px; text-align: center; color: #fff;}
.mainContentInner .header_of_catagory h2 {font-size:15px; line-height:26px; font-weight:bold;}
.mainContentInner .header_of_catagory h3 {font-size:15px; line-height:26px; font-weight:bold;}
.mainContentInner ul { margin-bottom:26px; border:1px solid #555555;  color: #fff;float:right; background-color:#fff;}
.mainContentInner li { width: 100%; height: 26px; float:right; border-bottom:1px solid #e9e9e9; }
.mainContentInner li.player { height: 90px; width:96%; padding:4px;}

/*.mainContentInner a { width:66%; padding-right:2%; line-height:26px; float:right; background-color:#fff; }*/
.mainContentInner a { width:100%; line-height:26px; display: block;}
.mainContentInner a.BoldItemCatagory { font-weight:bold; }
.mainContentInner a:hover { background-color:#FFEFCD; }

.mainContentInner div.stationContainer{ width:100%; }

a.otherStations { display:none;}

/*a.listenTo { font-weight: bold; width:24%; padding-right:8%; background: #f9f9f9; float:left; color: #0000FF; font-size: 18px;}*/
a.listenTo { font-weight: bold;background: #f9f9f9; font-size: 14px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
a.listenTo:hover { background-color: #000; color: #fff; }
a.listenTo:active { background-color:red; color: orange; }

.mainContentInner div.clearFix { width:100%; margin:0px; float:none; clear:both; height:0px;}



.playerZone { width:44%; float:left; }
.playerZone .header_flash_news { width:100%; background-color:#c02942; text-align:center; font-size:19px; color:#fff; height:50px; line-height:50px; }
.playerZone .player { width:100%; /*height: 302px;*/ vertical-align: middle; background-color:#000; float:right; }
.playerZone p { color:#fff; line-height: 24px; font-size: 17px; padding: 5% 20%; text-align: center; }
.playerZone .below_player { text-align:center; direction:ltr; float: right; width: 100%; margin-top: 26px; }
.playerZone #content { margin-bottom: 26px; direction:rtl; }
.playerZone .below_player h2 {  background-color: #555555; color: #fff;height: 26px;text-align: center;  font-size: 15px;line-height: 26px;font-weight: bold; margin-bottom:6px;}
.playerZone .below_player h3 {  background-color: #555555; color: #fff;height: 26px;text-align: center;  font-size: 15px;line-height: 26px;font-weight: bold; margin-bottom:6px;}
.playerZone .below_player hr { border:0; height:1px; background:#e1e1e1; }


/*==================== FOOTER  ====================*/
.footer { width:100%; margin:0 auto 14px; }

.mainCredits { height:35px; background-color:#a9aab0; width:100%;}

.mainCreditsRight { float:right; color:#fffffd; width:215px; margin-right:10px;}
.mainCreditsRight  ul { display:inline;}
.mainCreditsRight  li { float:right; margin-left:10px; line-height:35px;}
.mainCreditsRight  ul a { color:#fffffe; }
.mainCreditsRight  ul a:hover { color:#000; text-decoration:underline; }

.mainCreditsLeft { float:left; color:#fffffc; width:639px;}
.mainCreditsLeft img { padding-top:5px;}
.mainCreditsLeft ul { display:inline;}
.mainCreditsLeft li { float:left; margin-left:10px; line-height:35px;}
.mainCreditsLeft li.CreditBeatman { line-height:35px;}
.mainCreditsLeft ul a { color:#fffffe;}
.mainCreditsLeft ul a:hover { color:#000; text-decoration:underline; }

audio { width: 100%; }
/* ------------------------------------------------------------------------------- */
/* @media screen */
/* ------------------------------------------------------------------------------- */

@media screen and (max-width: 800px) {

    .hide_in_mobile, #leftIcons, .SkipToMainContent { display: none; }
    .main_wrapper,#menuContainer .navAndleftIcons, .playerZone,.header, .mainContentInner, #infoContent, .mainCredits { width: 100%; }
    #menuContainer li { /*display: block; width: 30%;*/ float: none; /*border-bottom: 1px solid #eee;*/ }
    #menuContainer li a { margin:0 !important;}
    .mainTitle h1, .logo h1 { font-size: 10vw; line-height: 12vw;}
    .mainTitle p { font-size: 4vw; }
    .selectedCategories select { margin: 0 2%; }
    .wrapper {width: 91%;}
    .playerZone * { }
    .playerZone .player { margin-bottom:20px;}
    .all_catagorys, .all_catagorys.double, .all_catagorys.infoBox, .leftBox { width: 100%; }
    .mainContentInner .header_of_catagory { height:34px;}
    .mainContentInner .header_of_catagory h2 { font-size:26px; line-height:34px;}
    .mainContentInner .header_of_catagory h3 { font-size:26px; line-height:34px;}
    .all_catagorys ul li { height: 34px; border-bottom: 1px solid #ececec; }
    /*.all_catagorys ul li a { font-size:20px; line-height: 34px; padding-right: 5%; }*/
    .all_catagorys ul li a { font-size:20px; line-height: 34px; }
    .show_more {width:100%; margin-right:0px;}
	#scrollToTop { top: initial !important; bottom: 15px !important; right: 15px !important; }
    .all_catagorys  ul li a img {margin: 5px 6px;}





}